---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="combo.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
	{% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}

<style>
body {
  background-image: url(https://raw.githubusercontent.com/mahadevans2432/mahadevans2432.github.io/master/img/dark%20background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



</style>

</head>
<body>
  <div id="main">



    <!-- <nav><ul>
      
        
        <li class="p-about-me"><a href="index.html#about-me">About me</a></li>
        
        <li class="p-projects"><a href="index.html#research">Research</a></li>

        <li class="p-projects"><a href="index.html#music">Music</a></li>
        
        <li class="p-contact-me"><a href="index.html#contact-me">Contact me</a></li>

      
    </ul></nav>

  -->
      <div id="about-me" class="section p-about-me">
        
        <div class="container center">
          <p><span class="fa-stack subtlecircle" style="font-size:117px; background:rgba(0,0,0,0.1)">
  <img src="https://raw.githubusercontent.com/mahadevans2432/mahadevans2432.github.io/master/img/circle-cropped.png" class="myimg">
</span></p>

<h1>Welcome to my Homepage :)</h1>
	<p class="text-white">My name is Mahadevan Subramanian, Ph.D. candidate (Quantum Science & Engineering) at the University of Chicago in <a href="https://pme.uchicago.edu/faculty/liang-jiang">Prof. Liang Jiang</a>'s research group. My research interests are in quantum information theory, more specifically bosonic error correction and bosonic channel learning.</p>
	<p class="text-white">I currently live in Chicago, IL (USA) and hail from Mumbai, India. I graduated from The Indian Institute of Technology Bombay with a Bachelor of Technology in Engineering Physics with Honours in Physics and a minor in Computer Science & Engineering in Aug 2023.</p>
  <p class="text-white">You can find my <a href="https://drive.google.com/file/d/1cGTR5vqxRxU7NVsKLaix4lWJi55csOAV/view?usp=sharing">resume here</a></p>
</div>
      </div>

<!-- <div id="research" class="section p-research">
        
        <div class="container center">

          <h1 class="text-white">Research Publications</h1>
          <ul class="text-white">
            <li> M. Subramanian, G. Zheng, L. Jiang "Achievable", <em>arXiv preprint arXiv:2305.17111 (2023)</em>. <a href="https://arxiv.org/abs/2305.17111">[arXiv]</a></li>
            <li> M. Subramanian, S. Vinjanampathy, "Variational Quantum Hypothesis Testing", <em>arXiv preprint arXiv:2305.17111 (2023)</em>. <a href="https://arxiv.org/abs/2305.17111">[arXiv]</a></li>
            <li> M. Subramanian, S. Vinjanampathy, "Variational Quantum Hypothesis Testing", <em>arXiv preprint arXiv:2305.17111 (2023)</em>. <a href="https://arxiv.org/abs/2305.17111">[arXiv]</a></li>
            <li> M. Subramanian, S. Vinjanampathy, "Variational Quantum Hypothesis Testing", <em>arXiv preprint arXiv:2305.17111 (2023)</em>. <a href="https://arxiv.org/abs/2305.17111">[arXiv]</a></li>
          </ul>
</div>
    </div> -->

      <!-- <div id="music" class="section p-music">
        
        <div class="container center">

			
			<h2>My music</h2>
			<p>I am an avid music listener and play the keyboard and produce music. You can also find a link to my bandcamp below.</p>
      <iframe style="border: 0; width: 600px; height: 208px;" src="https://bandcamp.com/EmbeddedPlayer/album=620091263/size=large/bgcol=333333/linkcol=0f91ff/artwork=small/transparent=true/" seamless><a href="https://vircil2.bandcamp.com/album/do-automatons-feel">Do automatons feel? by Vircil</a></iframe>
    </div> -->


      </div>

     <div id="contact" class="section p-contact-me">
      <div class="container">
        <a class="btn btn-dark btn-social mx-2 p-1" href="https://github.com/mahadevans2432"><i class="fa fa-github"></i></a><a class="btn btn-dark btn-social mx-2 p-1" href="https://www.linkedin.com/in/mahadevan-subramanian-a3b4291a8/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="container"><p>Mail me here: mahadevans[at]uchicago.edu, mahadevan.subramanian2432[at]gmail.com</p></div>
      <div class="container"><p>Mahadevan Subramanian - 2025</p></div>
    </div>
  </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
